body {
    font-size: 1.17vw;
}
.word {
    z-index: 0;
    padding: 0.75vw;
    width: 5.82vw; /* Set fixed width */
    height: 5.82vw; /* Set fixed height */
    border-radius: 1.17vw;
    display: inline-block; /* Flexbox to center text */
    overflow: hidden; /* Hide overflow if the text is too long */
    /*word-wrap: break-word; /* Break words if too long */
    margin: 0.04vw;
    background-color: #EFEFE6;
    font-family: 'Nunito';
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    transition: transform 0.2s ease, box-shadow 0.2s ease, z-index 0s;
}
#console {
    font-family: "Nunito";
    position: fixed;
    top: 10%;
    left: 83%;
    color: black;
    font-size: 0.8125em;
    text-align: right;
    width: 15em;
    height: 100%;
    display: flex;
    align-items: start;
    border: none;
}
#debug {
    font-family: "Nunito";
    position: fixed;
    top: 1%;
    left: 95%;
    color: white;
    font-size: 0.8125em;
    background-color: white;
    text-align: center;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
@keyframes shake-animation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-0.40vw); }
    50% { transform: translateX(0.40vw); }
    75% { transform: translateX(-0.40vw); }
    100% { transform: translateX(0); }
  }
svg {
    display: flex;
}
.button {
    display: inline-block;
    font-family: 'Nunito';
    cursor: pointer;
    font-weight: 500;
    border: 0.07vw solid black;
    border-radius: 7.32vw;
    padding-left: 0.73vw;
    padding-right: 0.73vw;
    padding-top: 0.51vw;
    padding-bottom: 0.51vw;
    margin-right: 0.15vw;
    margin-left: 0.15vw;
    transition: transform 0.2s ease;
}
.button:not(.disabledbutton):not(.clicked):hover {
    transform: scale(1.1); /* Increase size on hover */
    transition: transform 0.2s ease;
    background-color: #A5A49A;
}
.word:hover {
    box-shadow: 0px 0px 5vw #00000015, 0px 0px 2vw #00000010, 0px 0px 1vw inset #00000004;
    transform: scale(1.1); /* Increase size on hover */
    z-index: 999; /* Place on top of everything */
}

.disabledbutton {
    cursor: default;
    border: 0.07vw solid grey;
    color: grey;
}

.guessdisplay {
    font-family: 'Nunito';
    font-weight: 500;
    text-align: center; /* Centers the text inside the .guessdisplay */
    display: block; /* Ensure it's a block-level element */
    margin: 0 auto; /* Center it within its container */
}

.circle {
    display: inline-block;
    width: 0.95vw;
    height: 0.95vw;
    background-color: #5A594E;
    border-radius: 50%;
    vertical-align: middle; /* Aligns the circle with the text */
    margin: 0; /* Removes any margin between circles */
    padding: 0; /* Removes any padding between circles */
    margin-left: 0.29vw;
}

.usedguess {
    background-color: white;
}
.selected {
    background-color: #5A594E;
    color: white;
}
.correctline {
    width: 30.62vw;
    height: 7.32vw; /* Allow height to adjust based on content */
    border-radius: 1.17vw;
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    margin: 0.07vw;
    margin-bottom: 0.29vw;
    background-color: #EFEFE6;
    font-family: 'Nunito';
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 34.1vw;
    animation: scaleUp 0.5s ease; /* Animation settings */
}

@keyframes scaleUp {
    0% {
        transform: scale(0.8); /* Start at 90% size */
    }
    60% {
        transform: scale(1.1); /* End at 100% size */
    }
    100% {
        transform: scale(1); /* End at 100% size */
    }
}
#easy {
    background-color: #F9DF6D;
}
#medium {
    background-color: #A0C35A;
}
#hard {
    background-color: #B0C4EF;
}
#veryhard {
    background-color: #BA81C5;
}
.buttons {
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin-top: 1.83vw;
}
.wordcontainer {
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.guessdisplay {
    margin-top: 0.73vw;
    margin-bottom: 0.73vw;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.themeheader {
    font-weight: 700;
}
.invisible {
    visibility: hidden;
  }
#oneaway {
    font-family: "Nunito";
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 0.73vw;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 1); /* optional background */
    color: white;
    font-size: 0.95vw;
    text-align: center;
    z-index: 1000; /* ensures it's above other elements */
    width: 6.59vw;
    height: 2.93vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clicked:hover {
    transform: scale(0.95); /* Decrease size on click */
    transition: transform 0.1s ease;
    
}
.clicked {
    transform: scale(0.95); /* Decrease size on click */
    transition: transform 0.1s ease;
    
}
.antic {
    background-color: #83837A;
    color: white;
    transform: scale(0.9); /* Decrease size on click */
    transition: transform 0.3s ease;
    
}
.anticend {
    background-color: #83837A;
    color: white;
    transition: transform 0.1s ease-in;
    
}
.shake {
    background-color: #83837A;
    color: white;
    animation: shake-animation 0.5s ease-in-out 1;
}
